.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header__left {
  flex: 0.5;
  background-color: white;
  color: grey;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 70px;

  &:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.03) !important;
  }
}
.header__left > input {
  border: none;
  width: 100%;
}

.header__right {
  display: flex;
  align-items: center;
}
.header__right > h4 {
  margin-left: 10px;
}
